workflow/AI-Document-Meeting-Assistant.json
{
  "name": "AI Document & Meeting Assistant",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Document & Meeting Assistant",
        "formDescription": "=Upload a PDF document or paste meeting notes for AI analysis.\nThe assistant will generate a summary, key points, action items, and a professional email draft.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Meeting Notes",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "PDF Document",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -240,
        64
      ],
      "id": "7dcd99a4-0930-4735-8483-9ae12bc65a28",
      "name": "On form submission",
      "webhookId": "27f2c749-8d57-4fd3-8b72-50b57eccb51e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Document & Meeting Assistant.\n\nAnalyze the following meeting notes and/or PDF document content.\n\nMeeting Notes:\n{{$json[\"Meeting Notes\"] || \"No meeting notes provided\"}}\n\nPDF Document Content:\n{{$json[\"text\"] || \"No PDF provided\"}}\n\nGenerate your response in this format:\n\n## Executive Summary\nWrite a short summary.\n\n## Key Points\nUse clean bullet points with hyphens only. Do not use markdown bold symbols.\n\n## Action Items\nUse clean bullet points with hyphens only. Do not use markdown bold symbols.\n\nEMAIL_SUBJECT:\nWrite a short professional email subject.\n\nEMAIL_START\nWrite only the professional email body.\nDo not include markdown symbols.\nDo not use asterisks.\nUse clean formatting and normal bullet points if needed.\n\nIf one input is empty, use the available input only.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        80
      ],
      "id": "f5b114dc-3f38-4d87-8d9d-37c802293ee9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        160,
        256
      ],
      "id": "902b97f0-e9b1-4110-8047-5110519bbae8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dtoFbl4gH6bWUe8u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "PDF_Document",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a10f9fbc-d75a-4065-970f-f114de3b607e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a5f0f07-ae4d-499d-9914-d3b6d69c8477",
              "leftValue": "={{$binary.PDF_Document.fileName}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        240
      ],
      "id": "2c0bda97-b005-4078-9c05-fcf361b6106d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json[\"output\"].split(\"EMAIL_SUBJECT:\")[1].split(\"EMAIL_START\")[0].trim() }}",
        "message": "={{ $json[\"output\"].split(\"EMAIL_START\")[1].trim() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        80
      ],
      "id": "632c1460-ca0e-4fd7-8d6b-378f1be273e5",
      "name": "Create a draft",
      "webhookId": "1d5434fd-da05-49e8-b3da-b62b7bb38d2b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ubPWuvcgqVqmqCC7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Cybersecurity Risk Assessment Assistant.\n\nAnalyze the summary generated by the first AI Agent:\n\n{{$json[\"output\"]}}\n\nYour task:\n- Read the summary carefully.\n- Identify the main security, compliance, access control, system, or operational risks.\n- Assign each risk a Risk Level: Critical, High, or Medium.\n- Prioritize the risks from most urgent to least urgent.\n- For each risk, provide:\n  - Risk name\n  - Risk level\n  - Short impact\n  - Short recommendation\n- Include only the 3 most critical risks.\n- Keep the final email concise and easy to read.\n\nRisk level guide:\n- Critical: Could cause serious security breach, failed audit, data exposure, or major operational impact.\n- High: Important issue requiring urgent action but not immediately business-critical.\n- Medium: Issue that should be resolved soon but has lower immediate impact.\n\nReturn your response EXACTLY in this format.\n\nEMAIL_SUBJECT: <Professional subject line based on the highest-priority risk>\n\nEMAIL_START\n\nHello Team,\n\nA brief review identified several critical security risks that require immediate attention.\n\nKey Risks:\n1. <Risk Name>\n- Risk Level: <Critical / High / Medium>\n- Impact: <Very short phrase>\n- Recommendation: <Very short phrase>\n\n2. <Risk Name>\n- Risk Level: <Critical / High / Medium>\n- Impact: <Very short phrase>\n- Recommendation: <Very short phrase>\n\n3. <Risk Name>\n- Risk Level: <Critical / High / Medium>\n- Impact: <Very short phrase>\n- Recommendation: <Very short phrase>\n\nPrompt action is recommended to reduce security risk.\n\nBest regards,\nSecurity Risk Assessment Team\n\nRules:\n- Total email length must stay between 100 and 130 words.\n- Never exceed 130 words.\n- Mention only the 3 most critical risks.\n- Keep every Impact and Recommendation to one short phrase.\n- Do not use asterisks or markdown bold symbols.\n- Always include EMAIL_SUBJECT.\n- Always include EMAIL_START.\n- Return ONLY the formatted output.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        80
      ],
      "id": "cc10d5bb-4d28-4e04-ad98-994b46fdae30",
      "name": "Risk Assessment Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        464,
        256
      ],
      "id": "4661dc06-97c7-4f29-9f24-89327a2126c0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dtoFbl4gH6bWUe8u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Risk Assessment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Risk Assessment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Risk Assessment Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d8a58711-5424-4c63-bb6b-3baebad3008f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d370dd19735fd14b71a2f81a3b31c0680ba73f01bf99edf9278cfea3ab14a8d1"
  },
  "nodeGroups": [],
  "id": "YALSVE2pfMhYS0kZ",
  "tags": []
}